<div>
    <br><br>
    <div class="row">
        <div class="col-md-4 text-center"><a href="#/angularjs"><img src="img/angularjs.png" height="100px" title="AngularJs" class="blackwhite"></a></div>
        <div class="col-md-4 text-center"><a href="#/jboss"><img src="img/jboss7.jpg" height="100px" title="Jboss AS 7 / EAP 6" class="blackwhite"></a></div>
        <div class="col-md-4 text-center"><a href="#/linux"><img src="img/linux.jpg" height="100px" title="Linux" class="blackwhite"></a></div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center"><a href="#/angularjs">AngularJs</a></div>
        <div class="col-md-4 text-center"><a href="#/jboss">JBoss</a></div>
        <div class="col-md-4 text-center"><a href="#/linux">Linux</a></div>
    </div>

    <br><br><br>
    <div class="row">
        <div class="col-md-4 text-center"><a href="#/git"><img src="img/git.jpg" height="100px" title="Git" class="blackwhite"></a></div>
        <div class="col-md-4 text-center"><a href="#/php"><img src="img/php.png" height="100px" title="php" class="blackwhite"></a></div>
        <div class="col-md-4 text-center"><a href="#/html5"><img src="img/html5.png" height="100px" title="HTML5 CSS3" class="blackwhite"></a></div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center"><a href="#/git">Git</a></div>
        <div class="col-md-4 text-center"><a href="#/php">Php</a></div>
        <div class="col-md-4 text-center"><a href="#/html5">HTML5/CSS3</a></div>
    </div>



</div>
