<div>
    <br><br>
    <div class="row">
        <div class="col-md-4 text-center"><a href="#/angularjs"><img src="img/angularjs.png" height="100px" title="AngularJs" class="blackwhite"></a></div>
        <div class="col-md-4 text-center"><a href="#/jboss"><img src="img/jboss7.jpg" height="100px" title="Jboss AS 7 / EAP 6" class="blackwhite"></a></div>
        <div class="col-md-4 text-center"><a href="#/linux"><img src="img/linux.jpg" height="100px" title="Linux" class="blackwhite"></a></div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center"><a href="#/angularjs">AngularJs</a></div>
        <div class="col-md-4 text-center"><a href="#/jboss">JBoss</a></div>
        <div class="col-md-4 text-center"><a href="#/linux">Linux</a></div>
    </div>

    <br><br><br>
    <div class="row">
        <div class="col-md-4 text-center"><a href="#/angularjs"><img src="img/angularjs.png" height="100px" title="AngularJs"></a></div>
        <div class="col-md-4 text-center"><a href="#/jboss"><img src="img/jboss7.jpg" height="100px" title="Jboss AS 7 / EAP 6"></a></div>
        <div class="col-md-4 text-center"><a href="#/linux"><img src="img/linux.jpg" height="100px" title="Linux"></a></div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center"><a href="#/angularjs">AngularJs</a></div>
        <div class="col-md-4 text-center"><a href="#/jboss">JBoss</a></div>
        <div class="col-md-4 text-center"><a href="#/linux">Linux</a></div>
    </div>



</div>
